# Ignorar bytecode y caches
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
ENV/

# Herramientas de build locales (ya no se versionan ejecutables ni dist)
build/
dist/

# Logs temporales
*.log

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp

# No almacenar ejecutables grandes
*.exe

